/*** header ***/
.logo h1 {
  font-size: 2.8em;
  color: #212121;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem 0;
}
.logo span {
  color: #FF8D1B;
  font-size: .3em;
  display: block;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 0;
}
/*** fim ***/
/* navbar */
.navbar .btn-search {
  background: #212121;
  color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: unset;
}
.navbar .btn-search:hover,.navbar .btn-search:not(:disabled):not(.disabled).active, .navbar .btn-search:not(:disabled):not(.disabled):active, .show>.navbar .btn-search.dropdown-toggle {
    color: #fff;
    background-color: #FF8D1B;
    border-color: #FF8D1B;
}
.navbar .btn-search.focus, .navbar .btn-search:focus {
    box-shadow: 0 0 0 0.2rem #FF8D1B;
}
.navbar .input-search {
  outline: none;
  border: none;
  background: #EFEFEF;
  padding: 10px;
  text-align: center;
  color: #999;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.navbar .dropdown {
    background: #FF8D1B;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
}
.navbar .nav-item .nav-link:after {
    display: none;
}
/* fim */

/* navbar -menu */
.navbar-menu {
    background: #FF8D1B;
}
.navbar-menu .nav-pills .nav-link {
    padding: 0.8rem 3.3rem !important;
    color: #ffffff !important;
}
.navbar-menu .nav-pills .nav-link.active, .navbar-menu .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
    border-radius: unset;
}
/* fim */

/*** main ***/
h4 {
    border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    padding: 0.3em 0.5em;
}
/* .movie:hover{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
} */
/* .movie img:hover {
    opacity: 0.5;
}
.movie .fa-play-circle:before {
    content: "\f144";
} */
.movie-text a {
    color: #000000;
}
.movie-rating {
    display: inline-flex;
}
.movie-stars ul {
    list-style: none;
    display: inline-flex;
}
.movie-new {
    position: absolute;
    top: 3%;
    left: 4%;
    padding: 20px 0 0 0;
    background: #ff8d1b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.movie-new:after {
    content: '';
    position: absolute;
    top: 86%;
    right: 18%;
    width: 0;
    height: 0;
    border-top: 8px solid #ff8d1b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(85deg);
}
.nav-tabs-movies {
    border-bottom: unset;
}
.nav-tabs-movies .nav-item.show .nav-link, .nav-tabs-movies .nav-link.active, .nav-tabs-movies .nav-link:focus, .nav-tabs-movies .nav-link:hover {
    background-color: #FF8D1B;
    border: none;
    border-radius: 0;
    color: #fff!important;
}
.nav-tabs-movies .nav-link {
    color: #333 !important;
    background: #f3f1f1;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin-right: 0.3rem;
}
.movie-stars ul li a {
    color: #ff8d1b;
}

.to-top {
  display: none;
  color: #ff8d1b;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 2%;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 40px;
}
.to-top:hover {
  color: #ff8d1b;
}
/* .nav-previus-page ol {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
} */
.breadcrumb {
    background: #ffffff;
    box-shadow: 0px 0 2px #C1C1C1 !important;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb li a {
    color: #000000 !important;
    text-decoration: none;
}
.breadcrumb > .active {
  color: #777;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
/*** fim ***/

/*** footer ***/
footer {
    background: #212121;
    padding: 4em 0;
}
footer ul li a, footer p span {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
footer ul li a:hover, footer p span:hover {
    color: #FF8D1B;
    text-decoration: none;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
}
/*** fim ***/
